<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta http-equiv="cleartype" content="on">
  <meta name="format-detection" content="telephone=no, email=no" />
  <title>知乎日报Web版</title>
  <link href="../static/css/popup.css" rel="stylesheet">
</head>
<body>
  <ul class="pop-list">
    <li class="pop-pic J_clickEvent" data-event="gotoEvent" data-etype="pic">
      <i class="iconfont">&#xe603;</i>
      <span>今日启动图</span>
    </li>
    <li class="pop-today J_clickEvent" data-event="gotoEvent" data-etype="today">
      <i class="iconfont">&#xe601;</i>
      <span>最新日报</span>
    </li>
    <li class="pop-gab J_clickEvent" data-event="gotoEvent" data-etype="gab">
      <i class="iconfont">&#xe600;</i>
      <span>瞎扯合集</span>
    </li>
    <li class="pop-old">
      <i class="iconfont">&#xe602;</i>
      <input type="text" class="old-input" placeholder="格式:20160330">
      <button class="J_clickEvent" data-event="gotoEvent" data-etype="old">往期</button>
    </li>
  </ul>
  <script src="../static/js/vendors/zepto-1.1.6.min.js"></script>
  <script src="../static/js/mods/popup.js"></script>
</body>
</html>