{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "amd": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true
  },
  "globals": [],
  "plugins": [
    "react"
  ],
  "rules": {
    "one-var": [2, "always"],
    "one-var-declaration-per-line": [2, "initializations"],
    "comma-dangle": [2, "never"],
    "max-len": [2, 80, 4, {"ignoreUrls": true}],
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "consistent-return": [0],
    "no-restricted-syntax": [0],
    "no-param-reassign": [0],
    "react/jsx-no-bind": [0],
    "react/prefer-stateless-function": [0]
  }
}
